body {
  font-family: 'MontserratVariable';
}
:root {
  --color-1: #092C73;
  --color-1-background: rgba(0, 99, 210, 0.3);
  --color-2: #135EF2;
  --color-3: #DDECFF;
  --color-4: #FF6B00;
  --color-5: #C4C4C4;
  --color-6: #F2F2F2;
  --color-7: #FFFFFF;
}
.site_color_1 {
  color: var(--color-1);
}
.site_color_1_background {
  background-color: var(--color-1);
}
  
.site_color_2 {
  color: var(--color-2);
}
.site_color_2_background {
  background-color: var(--color-2);
}
 
.site_color_3 {
  color: var(--color-3);
}
.site_color_3_background {
  background-color: var(--color-3);
}
  
.site_color_4 {
  color: var(--color-4);
}
  
.site_color_6_background {
  background-color: var(--color-6);
}

.site_color_7_background {
  background-color: var(--color-7);
}
  
  
h1, .text-h1 {
  font-weight: 800;
  font-size: 46px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
  
h2, .text-h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
  
h3, .text-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
}
  
.text_1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
  
.text_2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}
  
.text_3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
  
.text_4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
}
  
.text_5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
  
.text_6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
  
.text_7 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
  
.text_8 {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text_button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}